In [26]:
import pandas as pd

df_csv  = pd.read_csv('user.csv')
print(df_csv)

df_execl = pd.read_excel('user.xlsx',sheet_name='Sheet1',index_col=0)
print(df_execl)
print(df_csv.head())
print(df_execl.head())
print(df_execl.tail(0))
print(df_execl.tail(1))
print(df_execl.info())
## without index
print(df_execl.shape)
above_40=df_execl[df_execl['Age']>30]
print(above_40)

## getting data from a range
range_subset_df = df_execl.iloc[1:2,0:1]
print(range_subset_df)

   Unnamed: 0                      Name  Age     Sex
0           0   Braund, Mr. Owen Harris   22    male
1           1  Allen, Mr. William Henry   35    male
2           2  Bonnell, Miss. Elizabeth   58  female
                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female
   Unnamed: 0                      Name  Age     Sex
0           0   Braund, Mr. Owen Harris   22    male
1           1  Allen, Mr. William Henry   35    male
2           2  Bonnell, Miss. Elizabeth   58  female
                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female
Empty DataFrame
Columns: [Name, Age, Sex]
Index: []
                       Name  Age     Sex
2  Bonnell, Miss. Elizabeth   58  female
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes
None
(3, 3)
                       Name  Age     Sex
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female
                       Name
1  Allen, Mr. William Henry